@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: oklch(93% 0.18 95); /* Jaune */
  --color-secondary: oklch(20% 0 0); /* Noir */
  --color-accent: oklch(85% 0.22 95); /* Jaune foncé */
  --color-background: oklch(100% 0 0); /* Blanc */
  --color-foreground: oklch(40% 0 0); /* Gris foncé */

  /* Mode Dark */
  --color-primary-dark: oklch(70% 0.18 95); /* Jaune atténué  */
  --color-secondary-dark: oklch(30% 0 0); /* Gris très foncé */
  --color-accent-dark: oklch(60% 0.22 95); /* Accent jaune foncé adouci */
  --color-background-dark: oklch(10% 0 0); /* Fond très sombre */
  --color-foreground-dark: oklch(95% 0 0); /* Texte très clair */
}

@component {
  .button_primary {
    @apply bg-primary text-white px-4 py-2 rounded-md;
  }

  .button_primary:hover {
    @apply bg-primary-dark;
  }

  .button_secondary {
    @apply bg-secondary text-white px-4 py-2 rounded-md;
  }

  .button_secondary:hover {
    @apply bg-secondary-dark;
  }
}
